body {
    font-family: "roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

.container-1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 120px;
    padding-bottom: 80px;
    gap: 40px;
}
.header {
    flex: 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    font-family: "roboto", sans-serif;
    margin-bottom: 30px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    font-family: "roboto", sans-serif;
}

.header-links {
    color: #E5E7EB;
    font-size: 18px;
    list-style: none;
    display: flex;
    gap: 20px;
    font-family: "roboto", sans-serif;
}

.content-1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: "roboto", sans-serif;
}

.text-1 {
    display: flex;
    flex-direction: column;
    font-family: "roboto", sans-serif;
}

.main-title{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    width: 400px;
    margin: 0;
    padding: 8px;
    font-family: "roboto", sans-serif;
}
.subtext-1{
    color: #afafb4;
    font-size: 18px;
    width: 450px;
    margin: 0;
    padding: 8px;
    font-family: "roboto", sans-serif;
}

button.sign-up,
button.sign-up-2 {
    background-color:#3882F6;
    color: white;
    font-weight: 900;
    font-size: medium;
    align-self: flex-start;
    padding: 8px 30px;
    font-family: "roboto", sans-serif;
    border-radius: 10px;
}

.image-frame {
    background-color: gray;
    color:white;
    width: 500px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 100px;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
}

.content-2 {
    display: flex;
    gap: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sub-image {
    border-style: solid;
    border-color: #3882F6;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.subtext-2 {
    width: 150px;
    font-size: 16px;
    color: #E5E7EB;
    text-align: center;
}

.container-3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px;
    align-items: center;
}

.content-3 {
    display: flex;
    flex-direction: column;
    width: 830px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.quote-source {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    align-self: flex-end;
}

.container-4 {
    display: flex;
    padding: 100px 150px;
}

.content-4 {
    display: flex;
    padding: 20px 40px;
    justify-content: space-evenly;
    background-color: #3882F6;
    flex: 1;
}

button.sign-up-2 {
    align-self: center;
    border-color: #F9FAF8;
}

.container-4 .title {
    color:#F9FAF8;
    font-size: 24px;
}

.container-4 .subtext {
    color:#F9FAF8;
    font-size: 18px;
}

.footer {
    color:#F9FAF8;
    background-color: #1F2937;
    text-align: center;
    padding: 50px 0px;
}